.work_categoryes_main{
    width: 100%;
    height: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.work_categoryes_title{
    font-size: xx-large;
    color: black !important;
    font-weight: 700;
}

.work_categoryes_radios{
    width: 90%;
    height: 100%;
    display: flex;
}

.work_category_item{
    width: 15%;
}