body {
    background: -webkit-linear-gradient(90deg, #a2a49f,#e0d0c4,#f1dac4);
    background: linear-gradient(90deg, #a2a49f,#e0d0c4,#f1dac4);
}

.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 66px;
    left: 0;
  
    overflow-x: hidden;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: -webkit-linear-gradient(1deg, #526d94,#ffffff);
    background: linear-gradient(1deg, #526d94,#ffffff);
/* background: linear-gradient(90deg, #703260,#8e404e,#cc9b9c,#dbc4c8); */
}

.sidenav_btn {
    border: none;
    font: inherit;
    font-size: 17px;
    color: rgb(36, 36, 36);
    background-color: transparent;
  
    cursor: pointer;
}



.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}