.sidenav {
  margin-left: 20px;
  width: 200px;
  position: absolute;
  z-index: 1;
  top: 66px;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidenav_btn {
  border: none;
  font: inherit;
  font-size: 17px;
  color: rgb(36, 36, 36);
  background-color: transparent;
  cursor: pointer;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
