@import url("https://fonts.googleapis.com/css2?family=Mukta&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}

/* SEARCH */
/*  */
/* .navbar {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 100px;
} */
/* .css-19r6kue-MuiContainer-root {
  background-color: black 0;
  opacity: 10 !important;
} */

.search_section_main {
  background-image: url(../components/HomePage/images/HomePage_Search_section_2.webp);
  height: 70vh;
  background-size: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  background-repeat: no-repeat;
}

.search_section_context {
  text-align: end;
  margin-right: 5%;
  width: 40%;
}

.search_title {
  font-size: 415%;
  color: white;
  margin: 0;
  margin-bottom: 5%;
}

.search_section_input_button {
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 100%;
}

.search_section_input {
  height: 4em;
  width: 100%;
  border: 0;
  border-radius: 5em;
  box-sizing: border-box;
  outline: none;
  padding: 5px 100px 5px 30px;
  display: block;
  background: #fff;
  cursor: pointer;
}

.search_section_button {
  position: absolute;
  top: 7px;
  right: 10px;
  z-index: 9;
  outline: none;
  border: none;
  display: inline-block;
  background: #ff7f24;
  color: #fff;
  padding: 10px 10px;
  border-radius: 25px;
  cursor: pointer;
}

.search_section_button:hover {
  background: #e26a13;
}

/* CATEGORIES */
/*  */

.categories_main {
  width: 92vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-gap: 15px;
  margin: 50px auto;
  background-color: rgb(255, 240, 223);
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 0;
}
.categories_card {
  position: relative;
  width: 200px;
  height: 220px;
  background: #fff;
  margin: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
.categories_card:before,
.categories_card:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background: #fff;
  transition: 0.5s;
  z-index: 0;
}
.categories_card:hover:before {
  transform: rotate(20deg);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}
.categories_card:hover:after {
  transform: rotate(10deg);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
}
.categories_card .imgBx {
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  background: #222;
  transition: 0.5s;
  z-index: 1;
}

.categories_card:hover .imgBx {
  bottom: 80px;
}

.categories_card .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.categories_card .categories_details {
  position: absolute;
  left: 10px;
  right: 10px;
  bottom: 10px;
  height: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.categories_details {
  background: #000000;
  opacity: 0.5;
  padding: 10px 0 10px 10px;
  z-index: 1;
}

.categories_card .categories_details .categories_title {
  position: absolute;
  font-weight: 600;
  font-size: 25px;
  color: #777;
  text-transform: uppercase;
  z-index: 1;
}

.categories_card .categories_details .categories_title {
  font-weight: 800;
  font-size: 16px;
  color: rgb(255, 240, 223);
  display: block;
  margin-top: 5px;
  cursor: pointer;
  /* -webkit-text-stroke: 0.8px #fff; */
}

/* LOCATION */
/*  */

.home_page_location_main {
  display: flex;
  justify-content: center;
  height: 60vh;
}

.home_page_location_right {
  width: 35%;
  background-color: rgb(255, 240, 223);
  border-radius: 2rem 0 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.home_page_location_title {
  font-size: 150%;
  margin: 0;
  margin-top: 10%;
}

.home_page_location_paragraph {
  font-size: 120%;
}

.home_page_location_input {
  height: 4em;
  width: 90%;
  border-radius: 5em;
  border: 0;
  box-sizing: border-box;
  outline: none;
  padding: 5px 100px 5px 30px;
  margin: 10% 0;
  display: block;
  background: #fff;
  cursor: pointer;
}

.home_page_location_button {
  height: 3.2em;
  width: 90%;
  font-size: medium;
  outline: none;
  border: none;
  display: inline-block;
  background: #ff7f24;
  color: #fff;
  margin: 10% 0;
  padding: 10px 10px;
  border-radius: 25px;
  cursor: pointer;
}
.home_page_location_button:hover {
  background: #e26a13;
}

.home_page_location_left {
  width: 50%;
}

.home_page_location_map {
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 0 2rem 2rem 0;
}

/* SLIDES  */
/*  */

.home_page_slides_main {
  width: 90%;
  display: flex;
  margin: 0 auto;
  margin-bottom: 50px;
}
.home_page_slides_left {
  width: 70%;
  display: flex;
  margin-top: 25px;
  flex-direction: column;
  gap: 20px;
}

.home_page_slides_title {
  font-size: xx-large;
  width: 50%;
}

.home_page_slides_paragraph {
  font-size: large;
  color: #2d2d2d;
  width: 70%;
}
.home_page_slides_paragraph:hover {
  color: black;
}

.home_page_slides_right {
  margin-left: 20%;
}
.pic-ctn {
  width: 70%;
  height: 500px;
}

@keyframes display {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  10% {
    transform: translateX(0);
    opacity: 1;
  }
  20% {
    transform: translateX(0);
    opacity: 1;
  }
  30% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(-200px);
    opacity: 0;
  }
}

.pic-ctn {
  position: relative;
  width: 70%;
  height: 300px;
  margin-top: 15vh;
}

.pic-ctn > img {
  position: absolute;
  top: 0;
  left: calc(70% - 100px);
  opacity: 0;
  animation: display 10s infinite;
}

img:nth-child(2) {
  animation-delay: 2s;
}
img:nth-child(3) {
  animation-delay: 4s;
}
img:nth-child(4) {
  animation-delay: 6s;
}
img:nth-child(5) {
  animation-delay: 8s;
}

/* SOCIAL MEDIA  */
/*  */

.home_page_social_media_main {
  height: 300px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  background-color: rgb(255, 240, 223);
  margin: 0 auto;
  border-radius: 2rem;
}

.home_page_social_media_left {
  margin-left: 5%;
}

.home_page_social_media_title {
  font-size: xx-large;
  width: 55%;
  margin-bottom: 20%;
  margin-top: 10%;
}
.home_page_social_media_links {
  display: flex;
}

.home_page_social_media_icons {
  height: 35px;
  width: 100px;
}
.home_page_social_media_right {
  margin-right: 5%;
}
.home_page_social_media_QR {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  position: relative;
}

/* CATALOG */
/*  */

.home_page_catalog_main {
  width: 90%;
  margin: 0 auto;
  margin-top: 100px;
}

.home_page_catalog_title {
  font-size: xx-large;
  margin-bottom: 30px;
}

.home_page_catalog_parag_div {
  background-color: rgb(255, 240, 223);
  border-radius: 2rem;
  height: 150px;
  padding: 40px;
  text-align: center;
  vertical-align: middle;
}

.home_page_catalog_paragraph {
  font-size: 24px;
  font-weight: 300 !important;
  line-height: 30px;
}

.home_page_catalog_links {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 25px;
}
.home_page_catalog_link {
  width: 150px;
  text-decoration: none;
  color: black;
  height: 150px;
}

.home_page_catalog_icon {
  height: 50px;
  width: 50px;
}

/* FOOTER */
/*  */

.footer_main {
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer_top {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.footer_paragraphs {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
}

.footer_parag {
  color: white;
  width: 20%;
  margin: 20px 30px;
}

.footer_media {
  display: flex;
  align-items: center;
  gap: 20px;
}

@media all and (max-width: 1024px) {
  .home_page_location_main {
    height: 400px;
  }
}

@media all and (max-width: 768px) {
  .footer_media {
    flex-direction: column;
  }
  .pic-ctn {
    width: 200px;
    height: 500px;
  }
  .search_title {
    font-size: 40px;
  }
  .search_section_input::placeholder {
    font-size: 10px;
  }
  .home_page_location_right {
    width: 40%;
  }
  .search_section_main {
    height: 400px;
  }
  .pic {
    display: none;
  }
  .home_page_slides_right {
    width: 0;
    height: 0;
  }
  .home_page_slides_main {
    flex-direction: column;
  }
  .home_page_slides_left {
    width: 100%;
  }
  .home_page_catalog_parag_div {
    padding: 30px;
  }
}
@media all and (max-width: 630px) {
  .home_page_social_media_QR {
    display: none;
  }
}
@media all and (max-width: 425px) {
  .search_section_main {
    align-items: flex-start;
    height: 200px;
  }
  .search_section_context {
    width: 70%;
  }
  .search_title {
    font-size: 30px;
  }
  .search_section_input {
    width: 100%;
  }
  .categories_main {
    margin-bottom: 20px;
  }
  .home_page_catalog_parag_div {
    height: 250px;
  }
  .home_page_location_main {
    flex-direction: column;
    height: 800px;
    gap: 20px;
  }
  .home_page_location_right,
  .home_page_location_left {
    width: 100%;
    border-radius: 2rem;
  }
  .home_page_location_left {
    height: 300px;
  }
  .footer_top {
    flex-direction: column;
    gap: 20px;
  }
  .footer_paragraphs {
    width: 100%;
    justify-content: center;
  }
  .footer_media {
    width: 100%;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 20px;
  }
}
@media all and (max-width: 590px) {
  .search_section_context {
    width: 90%;
    text-align: center;
  }
}
